@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <h1 class="display-4">Quiz Questions testId"</h1>

    <a class="btn btn-outline-secondary customselected" href="/Home/Question" role="button">Find random question</a>
    <a class="btn btn-outline-secondary customnew" href="/Home/Question" role="button">Find random question</a>
    <a class="btn btn-outline-secondary" href="/Home/Question" role="button">Find random question</a>
    <a class="customnew" href="/Home/Question" role="button">Find random question</a>

    <a class="btn customnew" href="/Home/Question" role="button">Find random question</a>

    <a id="customnew" href="/Home/Question" role="button">Find random question</a>
    <a id="customnew">Find random question</a>


    <a class="btn btn-primary customselected" href="/Home/GetRandomQuiz" role="button">Start random quiz</a>

</div>
