@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Main page</h1>
    <p></p>
    <a class="btn btn-primary big" href="/Home/Question" role="button">Get random Question</a>
    <p></p>
    <a class="btn btn-primary big" href="/Home/GetRandomQuiz" role="button">Start random Quiz</a>

</div>
