@*

*@

<div class="text-center">
    <h2>Questions:</h2>

    @{
        int bufferIndex = 0;
        foreach (var item in Model.GetQuizBase().GetQuestionsList())
        {
            <a class="btn @item.GetStatusString()" href="" role="button">@(bufferIndex + 1)</a>

            bufferIndex++;
        }
    }

    <h2>Current Question @(Model.GetQuizBase().GetCurrenPointertIndex() + 1)</h2>


    <h2>@Model.GetQuizBase().GetLogString()</h2>

</div>
